.checkbox-sidebar {
    margin-right: 0 !important;
    color: #666666 !important;

    .el-checkbox__inner {
        border: none !important;
        width: 13px;
        height: 13px;
    }
    .el-checkbox__input {
        padding-left: 10px !important;
        box-sizing: border-box;
    }
    .el-checkbox__input.is-checked + .el-checkbox__label {
        color: #fff;
        font-weight: lighter;
    }


}

