@import '../settings/colors';

// these are the modification to .el-dialog class, not the actual classes
.el-dialog__header {
    background-color: #141414;
    color: white !important;
    margin-bottom: 20px;
    padding: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.el-dialog__headerbtn {
    top: auto !important;
}

.el-dialog__title {
    color: #e1e1e1 !important;
    font-weight: 500;
}

.el-dialog {
    margin-top: 0 !important;
}

.el-dialog__body {
    padding: 0 10px !important;
}

.el-dialog__footer {
    margin-top: 20px;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
    color: white !important;
}

.el-dialog__wrapper {
    margin-top: 10vh !important;
    max-height: 90vh;
    z-index: 2001;
}

.crm-notification-dialog .el-dialog__header{
    display: none !important;
}
.crm-notification-dialog{
    border: 1px solid #FFFFFF !important;
    background: #FFFFFF !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 10px 0px #00000040 !important;
    width:  (640px) !important;
    height:  (790px) !important;
    padding: 16px !important;
    gap: 16px !important;
    left: 20vw !important;
}

.crm-notification-dialog .el-dialog__body{
    padding: 0 !important;
}
.crm-notification-dialog-wrapper {
    margin-top: 0vh !important;
    padding-top: 6vh !important;
    max-height: 90vh;
    z-index: 2001;
}