.formHeadings {
    color: #1c3366;;
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
    font-weight: 600;
}

.formErrors {
    text-align: left;
    color: red;
    word-break: break-word;
}
