.center-space-between-alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.height-hundred-percent {
  height: 100%;
}

.width-hundred-percent {
  width: 100%;
}