:root {
  --font: 'Roboto', sans-serif;
  --primary: #1c3366;
  --primary-1: #03A9F4;
  --secondary: #4c618f;
  --tertiary: #385086;
  --secondary1: #00c4c7;
  --danger: #f46545;
  --error: #ff0808;
  --dark: #001b2c;
  --medium: #cbcbcb;
  --light-m: #eee;
  --white: #fff;
  --light-blue: #f0f3f8;
  --light: #917f7f;
  --light-gray: #dbe3f3;

  --step-0: #ffffff;
  --step-50: #f5f7fa;
  --step-100: #ccc;
  --step-150: #999;
  --step-200: #777;
  --step-250: #222;


}