
@import './variables';
.main-container {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    background-color: #E8EDF2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .err-message-block {
        display: none;
        width: 100%;
        height: 16px;
        margin: 5px 0 0 5px;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 0.87rem;
        font-weight: normal;
        text-align: left;
        color: #ff0808;
    }
}
button {
    outline: none;
    border: none;
}
@media only screen {
    .show {
        display: flex;
    }
    .hide {
        display: none;
    }
    .main-container {
        .reset-container {
            box-sizing: border-box;
            height: auto;
            min-height: 350px;
            max-height: 496px;
            width: 30%;
            min-width: 360px;
            max-width: 500px;
            background-color: $primaryColor;
            box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
            border-radius: 24px;
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            .same-container {
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                padding: 6% 7%;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                .heading {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                    font-weight: 500;
                    color: $textColor1;
                }
                .pwd-req-block {
                    height: 100px;
                    width: 100%;
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                    font-size: 0.87rem;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #222222;
                    .req-field {
                        font-weight: normal;
                        margin-top: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        // &::before {
                        //     // content: "✓";
                        //     content: "•";
                        //     background-size: ;
                        //     margin-right: 8px;
                        //     color: #222222;
                        // }
                        .symbol {
                            height: 100%;
                            width: 10px;
                            margin-right: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .bullet {
                                display: flex;
                                width: 6px;
                                min-width: 6px;
                                height: 6px;
                                min-height: 6px;
                                background-color: #222222;
                                border-radius: 50%;
                                // margin-bottom: 1px;
                            }
                            .tick {
                                display: none;
                                color: #409EFF;
                            }
                        }
                    }
                }
                .input-container {
                    box-sizing: border-box;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .label {
                        display: none;
                        margin: 2px 0 3px;
                        color: $textColor2;
                    }
                    .input-block {
                        position: relative;
                        width: 100%;
                        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                        input {
                            box-sizing: border-box;
                            width: 100%;
                            padding: 5px 10px;
                            font-size: 1rem;
                            border-radius: 4px;
                            background-color: #E8EDF2;
                            outline: none;
                            color: $textColor1;
                            border: none;
                            &:focus {
                                border: solid 1px #cccccc;
                            }
                        }
                        .show-pwd {
                            position: absolute;
                            top: 35%;
                            right: 15px;
                            font-size: 0.87rem;
                            font-weight: 500;
                            color: $textColor2;
                            cursor: pointer;
                        }
                        .tooltip {
                            visibility: hidden;
                            background-image: $primaryBtn;
                            color: $primaryColor;
                            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                            font-size: 0.87rem;
                            font-weight: 500;
                            text-align: center;
                            border-radius: 3px;
                            padding: 10px 15px;
                            position: absolute;
                            z-index: 1;
                            top: 110%;
                            left: 1%;
                            // margin-left: -60px;
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 100%;
                                left: 15%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: transparent transparent #409EFF transparent;
                            }
                        }
                    }
                }
                .button-container {
                    .button {
                        width: 100%;
                        border-radius: 8px;
                        background-image: $primaryBtn;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                        font-size: 1.25rem;
                        font-weight: bold;
                        color: $primaryColor;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .heading {
        font-size: 2.5rem;
    }
    .input-container {
        height: auto;
        margin: 24px 0 0;
        .label {
            font-size: 1rem;
        }
        .input-block {
            input {
                height: 72px;
                font-size: 1rem;
            }
            .show-pwd {
                font-size: 1rem;
            }
        }
    }
    .button {
        height: 72px;
        margin: 44px 0 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .heading {
        font-size: 2rem;
    }
    .input-container {
        height: auto;
        margin: 22px 0 0;
        .label {
            font-size: 0.87rem;
        }
        .input-block {
            input {
                height: 56px;
                font-size: 0.87rem;
            }
        }
    }
    .button {
        height: 56px;
        margin: 36px 0 0;
    }
}
@media only screen and (max-width: 767px) {
    .heading {
        font-size: 1.7rem;
    }
    .input-container {
        height: auto;
        margin: 16px 0 0;
        .label {
            font-size: 0.87rem;
        }
        .input-block {
            input {
                height: 56px;
                font-size: 0.87rem;
            }
        }
    }
    .button {
        height: 56px;
        margin: 36px 0 0;
        font-size: 1rem;
    }
}